@font-face {
    font-family: "sm64";
    src: url("https://files.catbox.moe/ke6ie8.ttf");
  }

body{
    width:100%;
    background-image: url("/assets/bg.png");
    font-family: "sm64";
    font-size:16px;
}

.centered{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    padding:3px;
    min-height: 100%;
    position:relative;
    align-content: center;

}

.titlebar{
    width:1000px;
    padding:3px;
    margin-bottom:5px;
    background-image: url("/assets/header.png");
    height:230px;
    max-height:230px;
}

.content{
    width:1000px;
    padding:3px;
    display:flex;
    padding-bottom: 200px; 
}

.mainbox{
width:900px;
background-color: #f8e0c0;
margin-right:3px;
border:10px solid transparent;
padding: 10px;
border-image-source: url("/assets/frame2.png");
border-image-repeat: repeat;  
border-image-slice: 45;
border-radius:20px;
}

.navbar{
    width:120px;

padding:3px;
}

.footer{
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    align-items: center;
    border:10px solid transparent;
    padding: 10px;
    border-image-source: url("/assets/frame2.png");
    border-image-repeat: repeat;  
    border-image-slice: 45;
    border-radius:20px;
    background-color: #f8e0c0;
 }

 hr{
    border-style: dashed;
    border-color: rgb(192, 126, 39);
    border-width:2px;
 }

 .updates{
    height:200px;
    width:300px;
    overflow-x: auto;

 }

 a{
  color:rgb(192, 14, 8);
 }

 b{
  font-weight: 100;
  font-size: 19px;
 }

